
    body{
        margin: 0px;
        padding: 0px;
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }

    #menu{
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 90px;

    }

    #principal{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        background-color: #303030;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #bababa;

    }


    #principal div a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #FFFFFF;
        text-decoration: none;
    }

    #principal div a:hover{ /*troca de cor ao passar o mouse em cima*/
    color: #cccccc;
    }

    #button1{
        width: 80px;
        height: 39px;
        left: 1210px;
        top: 31px;
        background: #0C70F2;
        box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
        border: 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        cursor:pointer;
        margin-right: 30px;
    }

    #button1:hover{
        color: #cccccc;
    }

    h1{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 97px;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 26px;
    }

    h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
    }

    #head{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .invert{
        background-color: black;
        font-weight: bold;
        padding: 1px;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
            
    }

    form{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        width: 600px;
    }

    .form-group{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 24px;
        
    }

    form input{
        border: 0;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        height: 40px;
        font-size: 20px;
        padding: 10px;
    }

    form label{
        margin: 0px 0px 10px 0px;
    }

    form input::placeholder{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(57, 57, 57, 0.5);
    }

    #checkbox-itens{
        justify-content: space-around;
        display: flex;
        align-items: center;
        font-size: 25px;
    }

    input[type="checkbox"]{
        transform: scale(1.8);
    }
    
    #formButton{
        background: rgba(12, 112, 242, 0.9);
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
        border-radius: 10px;
        width: 600px;
        height: 56px;
        font-weight: 600;
        font-size: 32px;
        color: #FFFFFF;
        font-family: 'Inter';
        font-style: normal;
        margin-top: 60px;
        cursor: pointer;
    }

    footer{
        margin-top: 268px;
        width: 100%;
        height: 520px;
        background-color: #0C70F2;
    }

    .navegador{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
    }

    footer .linha1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 72px;
    }

    footer ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    footer h5{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        background: #303030;
        border-radius: 10px;
        padding: 10px;
    }
    footer ul li{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        margin: 20px 0px 20px 0px;

    }

    .linha1 a{
        text-decoration: none;
        color: #FFFFFF;
    }
    .linha1 a:hover{
        color:#bababa;
    }

    #adress{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 173px;
        margin-right: 100px;
    }

    #linha2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 132px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;

    }

    #linha2 a{
        text-decoration: none;
        color: #FFFFFF;
    }

    #linha2 a:hover{
        color: #bababa;
    }

    @media only screen and (max-width: 600px) {

        /*Menu*/

        #principal{
            flex-direction: column;
            height: auto;
            width: 100%;
        }
        #menu{
            flex-direction: column;
            width: 100%;
            margin: 10px 0px 40px 0px;
        }
        #menu a{
            display: flex;
            height: 50px;
            align-items: center;
        }
        #principal button{
                width: 420px;
                margin: 0px;
        }

        /*Nav*/

        #head{
            margin-top: 30px;
            width: auto;
        }
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 16px;
            text-align: center;
        }
        .form-group input{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            margin-left: 90px;
        }
        .form-group{
            font-size: 20px;
            text-align: center;
        }
        #checkbox-itens label{transform: scale(0.8);}
        input[type="checkbox"]{
            transform: scale(0.5);
        }
        #checkbox-itens{
            width: 600px;
            margin-right: 0px;
        }
     }